@charset "UTF-8";

.header-inner {
	max-width: 1400px;
	position: relative;
	margin: 0 auto;
	display: flex;
}

header {
	height: 120px;
}
header h1 {
	width: 50%;
	margin: 0;
	padding-top: 20px;
	font-size: 40px;
	font-weight: 900;
}

header .header-search-area {
	width: 20%;
	padding-top: 30px;
}
header .header-search-area .search {
	width: 100%;
	border-radius: 20px;
	padding: 10px 10px;
	font-size: 14px;
	
}

header .header-button-area {
	width: 30%;
	padding-top: 25px;
}
header .header-button-area button {
	width: 120px;
	height: 50px;
	line-height: 20px;
	margin-left: 10%;
	padding: 10px;
	font-size: 22px;
	font-weight: 900;
	cursor: pointer;
}
header .header-button-area .post {
	background-color: transparent;
}
header .header-button-area .sign_in {
	background-color: #0066FF;
	color: white;
	border: none;
}